{% extends "base.html" %}
 
{% block content %}
    <h1>Tasks</h1>
    <h3>Filters</h3>
    <a class="btn btn-primary" href="#" role="button">No Filters</a>
    <a class="btn btn-primary" href="#" role="button">Too Late</a>
{% for i in listy %}
    <div class="alert alert-dark" role="alert">
        <h3>{{ tasks[i].name }}</h3>
        <h4>{{ authors[i] }}</h4>
        <div>{{ tasks[i].desc }}</div>
        <h3>Priority - {{ tasks[i].priority }}</h3>
        <div>Deadline: {{ tasks[i].date }}</div>
        {% if tasks[i].id == id %}
            <a href="/edit-task/{{ tasks[i].id}}">Edit Task</a>
        {% endif %}
        <h4>Deligated to {{ users[i] }}</h4>
    </div>
{% endfor %}
{% endblock %}